/* purgecss start ignore */
/* @tailwind base; */
@tailwind components;
/* purgecss end ignore */

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('../img/bg.jpg');
}

/* @media (min-width: 1024px) {
    body {
    }
} */
/* .bg-image,
.bg-box-form {
    background-image: url('../img/bg.png');
}

@media (min-width: 640px) {
    .sm\:bg-image {
        background-image: url('../img/bg.png');
    }
}

.box-container {
    height: 350px;
}
.box-form {
    position: relative;
    height: 410px;
    top: -30px
}

@media (min-width: 640px) {
    .bg-box-form {
        background-image: url('../img/bg_form.jpg');
    }
} */

@tailwind utilities;